#================ Input Parameters ================
DepthType                      1                        # 0...Depth from camera, 1...Depth from the origin of 3D space
SourceWidth                    1024                      # Input frame width
SourceHeight                   768                      # Input frame height
StartFrame                     0						# Starting frame #
TotalNumberOfFrames            300                      # Total number of input frames 
LeftNearestDepthValue          1418.292789              # Nearest depth value of left image from camera or the origin of 3D space
LeftFarthestDepthValue         156012.206895             # Farthest depth value of left image from camera or the origin of 3D space
RightNearestDepthValue         1418.292789              # Nearest depth value of right image from camera or the origin of 3D space
RightFarthestDepthValue        156012.206895            # Farthest depth value of right image from camera or the origin of 3D space
CameraParameterFile            cam_param_lovebird1.txt         # Name of text file which includes real and virtual camera parameters
LeftCameraName                 param_loveb1_005               # Name of real left camera
VirtualCameraName              param_loveb1_006             # Name of virtual camera
RightCameraName                param_loveb1_008               # Name of real right camera
LeftViewImageName              I:\FTV_Test_Sequence\lovebird1\lovebird1_5.yuv                 # Name of left input video
RightViewImageName             I:\FTV_Test_Sequence\lovebird1\lovebird1_8.yuv                 # Name of right input video
LeftDepthMapName               I:\FTV_Test_Sequence\FTV_depth\04.87MPEG_DERS\06.Love1\lovebird1_d_5.yuv           # Name of left depth map video
RightDepthMapName              I:\FTV_Test_Sequence\FTV_depth\04.87MPEG_DERS\06.Love1\lovebird1_d_8.yuv           # Name of right depth map video
OutputVirtualViewImageName     lovebird1_virtual06.yuv       # Name of output virtual view video

ColorSpace                     0                        # 0...YUV, 1...RGB
Precision                      2                        # 1...Integer-pel, 2...Half-pel, 4...Quater-pel
Filter                         1                        # 0...(Bi)-linear, 1...(Bi)-Cubic, 2...MPEG-4 AVC

BoundaryNoiseRemoval		   		 1						# Boundary Noise Removal: Updated By GIST

SynthesisMode                  1                        # 0...General, 1...1D parallel

#---- General mode ------
ViewBlending                  1                        # 0...Blend left and right images, 1...Not Blend

#---- 1D mode      ------
#---- In this example, all parameters below are commented and default values will be taken ----
#SplattingOption       2                 # 0: disable; 1: Enable for all pixels; 2: Enable only for boundary pixels. Default: 2
#BoundaryGrowth        40                # A parameter to enlarge the boundary area with SplattingOption = 2. Default: 40
#MergingOption         2                 # 0: Z-buffer only; 1: Averaging only; 2: Adaptive merging using Z-buffer and averaging. Default: 2
#DepthThreshold        75                # A threshold is only used with MergingOption = 2. Range: 0 ~ 255. Default: 75
#HoleCountThreshold    30                # A threshold is only used with MergingOption = 2. Range: 0 ~ 49. Default: 30
